body tipo{
    background-color: brown;
    border-bottom-left-radius: 5%;
    background-image: url(teraorb.jpg);
    color: aliceblue;

}


div.contenedor{
	max-width: 1000px;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	margin: 20px auto;
}



header{
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
}
.titulo{
    background-color: darkgoldenrod;
}
h1 img{
    height:50px;

}

main {
    
	padding: 20px;
	width: 70%;
}

aside {
    background: #004254;
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




footer{
    background-color: black;
    color: white;
}

.F{
    background-color:orangered ;
}
.A{
    background-color: dodgerblue
}
.PL{
    background-color: forestgreen;
}
.N{
    background-color: whitesmoke;
}
.E{
    background-color: yellow;
}
.T{
    background-color: chocolate;
}
.R{
    background-color: peru;
}
.A{
    background-color: dimgrey;
}
.Vol{
    background-color: cornflowerblue;
}
.V{
    background-color: blueviolet;
}
.B{
    background-color: olive;
}
.L{
    background-color: crimson;
}
.PSQ{
    background-color: deeppink;
}
.G{
    background-color: indigo;
}
.S{
    background-color: black;
}
.H{
    background-color: palevioletred;
}
